html {

margin: 0px;
height: 100%;
width: 100%;
background-color:   #4285F4;

}

body{

margin-left: auto-5px;
margin-right: auto-5;
min-height:95%;
background-color:  #ffffff;

}

html, body {

  font-family: 'Roboto', 'Helvetica', sans-serif;

}

header {

  background-color: #0F9D58;
  color: white;


}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0F9D58;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #DB4437;;
